body{
  background-color: rgb(217, 217, 244);
}

.demo-list-action {
        width: 300px;
}


.demo-card-square .mdl-card {
    width: 320px;
    margin-top: 20px;
}

.demo-card-square>.mdl-card__title {
    color: white;
    background-color: grey;
}
.right{
  margin-left: 10;
}

.demo-card-wide.mdl-card {
  width: 284px;
}
.demo-card-wide > .mdl-card__title {
  text-align:center;
  text-align:top;
  color: #fff;
  height: 250px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: grey;
}
#playopponent{
  margin-bottom: 170px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
